<h1>Редактирование поста</h1>

<%= render "form", post: @post %>

<br>

<div>
 <h6> <%= link_to "Посмотреть этот пост", @post %> </h6>
 <h6> <%= link_to "Вернуться к постам", posts_path %> </h6>
</div>
